@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border-color: var(--border-color);

  --font-inter: var(--font-inter-sans);
  --font-quicksand: var(--font-quicksand-sans);
}

:root {
  --background: #ffffff;
  --foreground: #f4f6fa;
  --primary: #f53e32;
  --primary-foreground: #1e1e1e;
  --secondary: #3bb77e;
  --muted: #000000;
  --muted-foreground: #253d4e;
  --border-color: #e9e9e9;
}

.dark {
  --background: #ffffff;
  --foreground: #f4f6fa;
  --primary: #f53e32;
  --primary-foreground: #1e1e1e;
  --secondary: #3bb77e;
  --muted: #000000;
  --muted-foreground: #253d4e;
  --border-color: #e9e9e9;
}

@layer components {
  .wrapper {
    @apply max-w-[1500px] mx-auto px-4 lg:px-16;
  }

  .wrapperlg {
    @apply max-w-[1850px] mx-auto px-4 lg:px-16;
  }

  .title {
    @apply uppercase text-primary font-medium lg:text-xl text-base tracking-widest;
  }

  .custom-shadow {
    box-shadow: 0px 0px 36px -3px rgba(0, 0, 0, 0.1);
  }
}

@layer base {
  body {
    @apply font-inter;
  }

  h1 {
    @apply text-[30px] lg:text-[60px] text-muted font-bold leading-tight;
  }

  h2 {
    @apply text-[26px] lg:text-[32px] text-muted-foreground font-bold font-quicksand;
  }
}

::-webkit-scrollbar {
  @apply w-1;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary;
}
